/* Применение сетки к контейнеру */
.grid {
    display: grid;
    width: 600px;
    grid-template-columns: 100px 1fr 200px;
}

.grid-item {}

.grid-item1 {
    background-color: red;
}

.grid-item2 {
    background-color: green;
}

.grid-item3 {
    background-color: blue;
}
